
<% attributes.reject(&:password_digest?).each do |attribute| -%>
<p>
  <strong><%= attribute.human_name %>:</strong>
  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</p>

<% end -%>
<br>
<%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "btn btn-primary", :style=>'color:#FFFFFF;' %> &nbsp &nbsp
<%%= link_to 'Back', <%= index_helper %>_path, class: "btn btn-default" %>
